{% extends "base.html" %}
{% block title %}
{{ user.email }}
{% endblock %}
{% block content %}
<div class="container">
    <h2>Список файлов на проверку пользователя {{ user.email }}</h2>
    <h3>Список непроверенных файлов {{ user.files.count }}</h3>
    <div class="container">
        {% for file in page_files %}
        <div class="card">
            <div class="card-body">
                <a class="card-tittle" href="">{{ file.file.name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}